
  .sidenav {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 685px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 233, 143);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #0a0808;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-top: 10px;
    margin-left: 210px;
    margin-right: 10px; 
    margin-bottom: 30px;
    padding-top: 5px;
    background-color: yellow;
    color: green;
    border: 2px solid;
    font-size: larger;
    font-weight: 700;
  }
  .outer {
    margin-top: 10px;
    margin-left: 210px;
    margin-right: 10px;
    height: 600px;
    background-color: rgb(190, 183, 183);
    border:2px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    
    font-size: larger;
    font-weight: 700;
  }
  .inner{
    height: 100%;
    background-color: white;
    border:2px solid black;
    padding:30px;
    font-size: larger;
    font-weight: 700;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }