  <body>
    <div class="sidenav">
      <ul>
        <li>Cost/Expenditure</li>
        <ul>
          <li><a routerLink="/invoice">View Invoices</a></li>
          <li><a routerLink="/sales">product wise sales</a></li>
        </ul>
      </ul>
    </div>

    <div class="container float-end">
      <div class="row">
        <div class="col-lg-12">
          <span class="d-block text-center p-2 bg-primary text-white">My Store</span>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </body>
